name: Test Workflow

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: 24f2004163@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Done
        run: echo "Workflow finished"
